# Binaries
*.exe
*.dll
*.so
*.dylib
*.a
*.out
*.env
/bin/

# Dependency directories
/vendor/
/pkg/ # Nếu bạn không commit generated code
/go.sum # Nếu bạn không muốn commit go.sum (nhưng thường nên commit)

# Environment variables
.env